.hero{
    width: 90%;
    min-height: 85vh;
    margin: 30px auto;
    display: flex;
    align-items: center;
    position: relative;
}

@media screen and (max-width:600px){
    .hero{
        width: 100%;
        min-height: 100vh;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}