nav {
    width: 90%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;

}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav img {
    margin-right: 20px;
}

.head ul {
    list-style: none;
}

.head ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.head ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

nav button {
    margin-left: 20px;
    cursor: pointer;
}

nav .login {
    background-color: transparent;
    border: 0;
}

nav .register {
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #121212;
    background-color: hsl(0, 0%, 98%);
}

.menu-icon {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
}


.hide, .closing, .NavMobile {
    display: none;
}

@media screen and (max-width:750px) {

    nav {
        width: 100%;
        padding: 0 15px;
    }

    .head {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .NavMobile {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: #fff;
        z-index: 9999;
        transition: 2s ease-in;
    }

    .NavMobile .closing {
        width: 30px;
        height: 30px;
        align-self: flex-end;
        margin: 10px 25px 50px 0;
        border: 0;
        outline: 0;
        background-color: transparent;
        display: block;
    }

    .NavMobile img {
        width: 30px;
    }

    .NavMobile ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .NavMobile ul {
        list-style: none;
    }

    .NavMobile ul li {
        margin-bottom: 25px;
    }

    .NavMobile ul li:last-child {
        margin-bottom: 45px;
    }

    .NavMobile ul li a {
        text-decoration: none;
        color: hsl(0, 0%, 41%);
        font-weight: 700;
    }
}